<a href="https://colab.research.google.com/github/BrunaSR/MinicursoPython/blob/main/Notebooks/Aula/ParteII_Aula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Minicurso Python - Parte II

Os exemplos e exercícios desse notebook se referem aos seguintes tópicos:
 - Controle de Fluxo
 - Laços de Repetição
 - Coleções de Dados

# Controle de Fluxo

In [ ]:
# Exemplo

Produto caro demais!!!

# Laços de Repetição

In [ ]:
# Laço for

0 1 2 3 4 5 6 7 8 9

In [ ]:
# Laço while

-5 -4 -3 -2 -1 0

In [ ]:
# Utilização do break
for i in range(0, 30, 3):
  if i > 20:
    break
  print(i)

0
3
6
9
12
15
18

# Coleções de Dados

## Listas

### Criação das listas

In [ ]:
# Lista vazia

# Conteúdo da lista

# Tipo da variável

[]
<class 'list'>

In [ ]:
# Lista simples
# Lista de nomes

# Conteúdo da lista

# Tipo da variável

['Ana', 'João', 'Maria', 'José', 'Joaquim']
<class 'list'>

In [ ]:
# Lista heterogênea

['João', 25, [2, 5, 6], True]

### Acesso aos elementos

In [ ]:
# Acessando um elemento

# Último elemento

Primeiro elemento =  Ana
Último elemento =  Joaquim

In [ ]:
# Acesso a uma posição não existente

In [ ]:
# Acessando mais de um elemento
# nomes[:3]

Três primeiros elementos =  ['Ana', 'João', 'Maria']

In [ ]:
# Quantidade total de elementos

Nomes =  ['Ana', 'João', 'Maria', 'José', 'Joaquim']
Total de elementos =  5

In [ ]:
# Acessando todos os elementos da lista 
# Pelos elementos diretamente
print('Todos os elementos da lista:')


# Acesso pelas posições
print('\nAcesso pelas posições:')

Todos os elementos da lista:
Ana
João
Maria
José
Joaquim

Acesso pelas posições:
Ana
João
Maria
José
Joaquim

### Verficando a existência de itens na lista

In [ ]:
# Uso do in e not in
print("MAria esta na lista?", "Maria" in nomes)
print("Carlos não está na lista?", "Carlos" in not nomes)

Maria está na lista?  True
Carlos não está na lista?  True

### Adição de elementos

In [ ]:
# Adicionando elemento ao final da lista - append

Nova lista =  ['Ana', 'João', 'Maria', 'José', 'Joaquim', 'Fernanda']

In [ ]:
# Adicionando elemento na posição 3 - insert
nomes.insert(3, 'Roberta')
print('Nova lista = ', nomes)

Nova lista =  ['Ana', 'João', 'Maria', 'Roberta', 'José', 'Joaquim', 'Fernanda']

### Exclusão de Elementos

In [ ]:
# Uso do pop()
# Remove o item da posição 2 e retorna o item excluído

Nova lista =  ['Ana', 'João', 'Joaquim', 'Fernanda']
Item excluído =  José

In [ ]:
# Uso do remove()
# Remove o item 'Fernanda'

In [ ]:
# Uso do del
del nomes[-1]

print('Após a remoção do último elemento = ', nomes)

Após a remoção do último elemento =  ['Ana', 'João']

### Ordenando listas

In [ ]:
# Função sort()

Ordem crescente =  [10, 13, 25, 36, 48]

In [ ]:
# Uso do reverse()
# idade.sort(reverse=True)

Ordem decrescente =  [48, 36, 25, 13, 10]

## Tuplas

### Criação das tuplas

In [ ]:
# Tupla vazia

()
<class 'tuple'>

In [ ]:
# Tupla com único elemento

<class 'tuple'>
<class 'tuple'>
<class 'int'>

In [ ]:
# Tupla simples

# Conteudo da tupla

# Tipo da variável

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
# Tuplas são heterogêneas
tuplaH = ('José', 25, False)
print(tuplaH)

('José', 25, False)

### Acesso aos elementos

In [ ]:
# Acessando um elemento
item = tupla[0]
print('Primeiro item da tupla = ', item)

Primeiro item da tupla =  1

In [ ]:
# Acessando mais de um elemento
itens = tupla[1:4]
print("Alguns elementos da tupla = ", itens)

Alguns elementos da tupla =  (2, 3, 4)

In [ ]:
# Desempacotando os elementos

Nome =  Daniel
Idade =  36
Vacindo?  True

### Verificando a existência de itens na tupla

In [ ]:
# Além das duas formas apresentadas no tópico 'Lista', há uma terceira forma de verificar a existência de itens.
tupla_nomes = ('João', 'Carla', 'Maria', 'Renata')

# Utilizado in


# O método index() que retorna a posição do valor se ele estiver presente na tupla e um erro caso contrário

Renata está presente na tupla? True
Posição do item 'Renata' =  3

In [ ]:
# Elemento não existente - função index

ValueError: ignored

### Tentando alterar um item da tupla

In [ ]:
# Exemplo

TypeError: ignored

### Conversão de tuplas

In [ ]:
# Tupla para lista
tupla = (5, 27, 'Ana', 3j)

lista = list(tupla) # Conversão da tupla

print('tupla = ', tupla)
print(type(tupla))

print('\nlista = ', lista)
print(type(lista))

tupla =  (5, 27, 'Ana', 3j)
<class 'tuple'>

lista =  [5, 27, 'Ana', 3j]
<class 'list'>

In [ ]:
# Lista para tupla
lista = [5, 6, 9, 78]

tupla = tuple(lista) # Conversão da lista

print('lista = ', lista)
print(type(lista))

print('\ntupla = ', tupla)
print(type(tupla))

lista =  [5, 6, 9, 78]
<class 'list'>

tupla =  (5, 6, 9, 78)
<class 'tuple'>

# Exercícios

## Exercício 1

Em um hotel, os hóspedes são classificados de acordo com sua faixa etária. A classificação é feita da seguinte forma:

|  Categoria   |   Faixa Etária  |      
|:----------:  |:---------------:|
|   Recanto    |    0 a 3 anos   |        
|   Infantil   |    4 a 11 anos  |      
|   Juvenil    |   12 a 17 anos  |     
|    Adulto    |   18 a 50 anos  |
| Melhor Idade |a partir de 51 anos|  

Escreva um algoritmo que classifique um hóspede com base na idade fornecida. Caso a idade seja negativa ou maior que 120 anos, o programa deve imprimir a mensagem "Idade inválida!"

In [ ]:
# Escreva sua solução aqui.

### Solução

In [ ]:
idade = 10 # Armazena a idade do hóspede

# Classificação do hóspede
if idade < 0 or idade > 120:
  print("Idade inválida!")
else:
  if idade >= 51:
    print("Melhor Idade")
  elif idade >= 18:
    print("Adulto")
  elif idade >= 12:
    print("Juvenil")
  elif idade >= 4:
    print("Infantil")
  else:
    print("Recanto")

Infantil

## Exercício 2
Uma empresa de pesquisas fez a seguinte enquete: \
"Qual o melhor Sistema Operacional para uso em servidores?"

As possíveis respostas eram:\
1- Windows Server \
2- Unix \
3- Linux \
4- Netware \
5- Mac OS \
6- Outro \

Você foi contrado para gerar um programa que receba os resultados da enquete e informe o sistema operacional mais votado, qual foi a quantidade total de votos desse sistema e o percentual equivalente. Para resolver o problema, crie duas listas: uma para armazenar as possíveis respostas e outra para armazenar os votos.

A tabela a seguir mostra o resultado da enquete:

|Sistema Operacional |Votos|
|:------------------:|:---:|
|Windows Server      | 1500|
|Unix                | 3500|
|Linux               | 3000|
|Netware             |  500|
|Mac OS              |  150|
|Outro               |  150|

In [ ]:
# Escreva sua solução aqui.

### Solução

In [ ]:
sistemas = ['Windows Server', 'Unix', 'Linux', 'Netware', 'Mac OS', 'Outro'] # Possíveis respostas
votos = [1500, 3500, 3000, 500, 150, 150] # Votos

total = 0 # Quantidade total de votos
for c in range(len(sistemas)):
  # Soma dos votos
  total = total + votos[c] 

  # Verifica o maior
  if c == 0:
    maior_voto = votos[c] # Arnazena o valor do maior voto
    posicao_maior = c # Armazena a posição do maior voto
  elif votos[c] > maior_voto:
    maior_voto = votos[c]
    posicao_maior = c

sistema_mais_votado = sistemas[posicao_maior]
percentual = (votos[posicao_maior]/total)*100
print("O sistema operacional mais votado foi {} com {}, equivalente a {:.2f}%.".format(sistema_mais_votado, maior_voto, percentual))

O sistema operacional mais votado foi Unix com 3500, equivalente a 39.77%.

## Exercício 3
A tupla fornecida contém, na ordem, os 20 primeiros colocados da tabela do Campeonato Brasileiro de Futebol. Pede-se:
* A) Os 5 primeiros colocados 
* B) Os 3 últimos colocados 
* C) Times em ordem alfabética 
* D) Em que posição está o melhor time do Brasil?

**OBS:** Não se esqueça de executar a célula seguinte para definir a tupla

In [ ]:
times = ('Palmeiras', 'Atlético-MG', 'Fortaleza', 'Bragantino', 'Athletico-PR', 'Flamengo', 'Ceará SC', 'Atlético-GO', 'Bahia', 'Corinthians', 'Fluminense', 'Santos',
         'Juventude', 'Internacional', 'Cuiabá', 'São Paulo', 'Sport Recife', 'América-MG', 'Grêmio', 'Chapecoense')

In [ ]:
# Escreva sua solução aqui.

###Solução

In [ ]:
print("Os 5 primeiros colocados = ", times[:5])
print("\nOs 3 últimos colocados = ", times[-3:])
print("\nEm ordem alfabética = ", sorted(times))
print("\nPosição do melhor time do Brasil = ", times.index("Flamengo"))

Os 5 primeiros colocados =  ('Palmeiras', 'Atlético-MG', 'Fortaleza', 'Bragantino', 'Athletico-PR')

Os 3 últimos colocados =  ('América-MG', 'Grêmio', 'Chapecoense')

Em ordem alfabética =  ['América-MG', 'Athletico-PR', 'Atlético-GO', 'Atlético-MG', 'Bahia', 'Bragantino', 'Ceará SC', 'Chapecoense', 'Corinthians', 'Cuiabá', 'Flamengo', 'Fluminense', 'Fortaleza', 'Grêmio', 'Internacional', 'Juventude', 'Palmeiras', 'Santos', 'Sport Recife', 'São Paulo']

Posição do melhor time do Brasil =  5