<a href="https://colab.research.google.com/github/BrunaSR/MinicursoPython/blob/main/Notebooks/ParteI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Minicurso Python - Parte I

Esse notebook contém alguns exemplos e exercícios dos seguintes tópicos:
 - Tipos de dados
 - Operadores aritméticos
 - Operadores relacionais
 - Operadores lógicos

# Tipos de Dados

## Declaração das variáveis

In [ ]:
# Declarando um número inteiro
x = 10

# Mostrando o tipo da variável e seu valor
print(type(x))
print('x = ', x)

<class 'int'>
x =  10

In [ ]:
# Alterando o tipo de conteúdo de x
x = 'Agora uma string'

# Verficando o tipo da variável novamente
print(type(x))
print('x = ', x)

<class 'str'>
x =  Agora uma string

## Conversão de tipos

In [ ]:
# Conversão de um int para float
a = 12
print(type(a))
print('a = ', a)

b = float(a)
print()
print(type(b))
print('b = ', b)

<class 'int'>
a =  12

<class 'float'>
b =  12.0

## Mensagens de erro

In [ ]:
# Acesso a uma variável não inicializada
print("Valor de y", y)

NameError: ignored

In [ ]:
# Operações com tipos de dados incompatíveis
a = '10'
b = 10

print(a + b) # Soma de uma string com inteiro

TypeError: ignored

# Operadores Aritméticos

In [ ]:
# Operação entre int e float
a = 10
b = 2.0

soma = a + b
print(type(soma))
print('soma = ', soma)

div = a / b
print()
print(type(div))
print('div = ', div)

mult = a * b
print()
print(type(mult))
print('div = ', mult)

<class 'float'>
soma =  12.0

<class 'float'>
div =  5.0

<class 'float'>
div =  20.0

## Ordem de precedência

In [ ]:
# Ordem de precedência da exponenciação é maior que da soma
expressao1 = 1 + 5 ** 2
expressao2 = (1 + 5) ** 2

print('Resultado sem parênteses = ', expressao1)
print('Resultado com parênteses = ', expressao2)

Resultado sem parênteses =  26
Resultado com parênteses =  36

In [ ]:
# Operadores com mesma precedência são executados da esquerda para direita 
resultado = 3 * 9 / 2 % 2 
print('Resultado = ', resultado)

Resultado =  1.5

In [ ]:
# Ordem de execução das potências - execução da direita para esquerda
expressao1 = 2 ** 1 ** 2
expressao2 = (2 ** 1) ** 2

print('Resultado sem parênteses = ', expressao1)
print('Resultado com parênteses = ', expressao2)

Resultado sem parênteses =  2
Resultado com parênteses =  4

# Operadores Relacionais

In [ ]:
# Exemplos
print("5 == 10 ", 5 == 10)
print("2 < 6 ", 2 < 6)
print("EXEMPLO != exemplo ", 'EXEMPLO' != 'exemplo')

5 == 10  False
2 < 6  True
EXEMPLO != exemplo  True

In [2]:
# Operadores aritméticos possuem precedência maior que os operadores relacionais
resultado = 2 + 3 > 3 + 1 
print('resultado = ', resultado)

resultado =  True

# Operadores Lógicos

In [ ]:
# Exemplo 'not'
x = not False
print('x = ', x)

True

In [ ]:
# Exemplos 'and'
y = False and True
print('y = ', y)

# Operadores relacionais possuem precedência maior que os operadores lógicos
z = 2 < 3 and 5 >= 1 
print('z = ', z)

y =  False
z =  True

In [ ]:
# Exemplo 'or'
w = False or True
print('w = ', w)

w =  True

# Exercícios

## Exercício 1

Crie uma varíavel do tipo float que armazene o valor da temperatura em graus Celsius de Santa Rita do Sapucaí. Faça um programa que converta a temperatura para Fahrenheit e imprima o resultado.

A fórmula de conversão é dada por: \
>$F = \frac{9}{5}C + 32$

In [ ]:
# Escreva sua solução aqui.

### SOLUÇÃO

In [5]:
C = 14.5 # Temperatura em graus Celsius

# Conversão de Celsius para Fahrenheit
F = 9*C/5 + 32

print("A temperatura em Santa Rita do Sapucaí é ", F, "°F")

A temperatura em Santa Rita do Sapucaí é  58.1 °F

## Exercício 2
Sabe-se que A, B, C e D possuem valores iguais a 2.5, 10, 4 e <font color='blue'>True</font>, respectivamente. Imprima o valor da seguinte expressão:

> B == A*C e (D ou <font color='blue'>False</font>)

In [ ]:
# Escreva sua solução aqui.

### Solução

In [9]:
# Declarando as variáveis
A = 2.5
B = 10
C = 4
D = True

# Reultado da expressão
print('Resultado = ', B == A*C and (D or False))

Resultado =  True

## Exercício 3

Dada a seguinte expressão do segundo grau:


> $-3x^2 + 18x -15 = 0$

faça um programa para encontrar suas raízes.

In [ ]:
# Escreva sua solução aqui.

### Solução

In [8]:
# Parâmetros da função
# ax**2 + bx + c = 0
a = -3
b = 18
c = -15

# Cálculo do delta
delta = b**2 -4*a*c

# Encontrando as raízes
x1 = (-b + delta**(1/2))/(2*a)
x2 = (-b - delta**(1/2))/(2*a)

# Imprime o resultado
print('x1 = ', x1)
print('x2 = ', x2)

x1 =  1.0
x2 =  5.0