<a href="https://colab.research.google.com/github/BrunaSR/MinicursoPython/blob/main/Notebooks/ParteIII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Minicurso Python - Parte III

Os exemplos e exercícios desse notebook se referem aos seguintes tópicos:
 - Funções 
 - Mensagens de erro

# Funções

## Criando e chamando uma função em Python

In [3]:
# Função sem parâmetro e sem retorno
def hello():
  """ Imprime um hello"""
  print('Hello world!')
hello()

Hello world!

In [4]:
# Exemplo de uma função simples com apenas um argumento
def somaUm(x):
  """ Função imprime o valor de x somado a 1"""
  print(x + 1)

# Verificando o que a função faz
print(somaUm.__doc__)

# Chamando a função
somaUm(10)

 Função imprime o valor de x somado a 1
11

In [5]:
# Função com mais de um parâmetro e retorno
def novoSalario(salario, aumento):
  """Calcula o salário com o aumento fornecido"""
  novo_salario = salario + salario*aumento
  return novo_salario

meu_salario = novoSalario(2000, 0.1)
print('Meu novo salário é igual a R$ ', meu_salario)

Meu novo salário é igual a R$  2200.0

In [6]:
# Chamando a função indicando o nome e o valor do parâmetro
meu_salario = novoSalario(salario=1000, aumento=0.2)
print('Meu novo salário é igual a R$ ', meu_salario)

Meu novo salário é igual a R$  1200.0

In [ ]:
# Função retornando mais de um valor
def operacoes(x, y):
  """Retorna a soma, média e o produto entre dois valores"""
  soma = x + y
  media = (x + y)/2
  produto = x*y

  return soma, media, produto

soma, media, produto = operacoes(2, 4)
print('Soma = ', soma)
print('Média = ', media)
print('Produto = ', produto)

Soma =  6
Média =  3.0
Produto =  8

In [ ]:
# Definindo parâmetros com valores padrão/default
def potenciacao(base, expoente=2):
  """Realiza a operação de potência"""
  return base**expoente

print('Resultado com apenas 1 parâmetro definido = ', potenciacao(4))
print('Resultado com os dois parâmetros definidos = ', potenciacao(4, 3))

Resultado 1 =  16
Resultado 2 =  64

In [7]:
# Uma função com a quantidade de argumentos indefinida
def programadores(*nomes):
  """Imprime o valor dos parâmetros passados à função"""
  print("O nome dos programadores são: ", nomes)
  print("O último programador é: ", nomes[-1])

# Chamando a função com 3 argumentos
print('Função com 3 argumentos')
programadores('Marcos', 'Ana', 'Priscila')

# Chamando a função com 2 argumentos
print('\nFunção com 2 argumentos')
programadores('Pedro', 'Rafael')

Função com 3 argumentos
O nome dos programadores são:  ('Marcos', 'Ana', 'Priscila')
O último programador é:  Priscila

Função com 2 argumentos
O nome dos programadores são:  ('Pedro', 'Rafael')
O último programador é:  Rafael

### Recursão

In [ ]:
# Exemplo de uma função recursiva
def fatorial(n):
  if n == 0:
    return 1
  else:
    return n*fatorial(n-1)

a = 6
print(f'{a}! = ', fatorial(a))

6! =  720

### Funções built-in

In [8]:
# Imprimir informações
print('Mensagem de texto simples!')

n = 2.4562214651
print(f'\nImprimindo uma variával = {n}')

print('Imprimindo essa variável formatada = {:.2f}'.format(n))

Mensagem de texto simples!
Imprimindo uma variával = 2.4562214651
Imprimindo essa variável formatada = 2.46

In [9]:
# Valor máximo de uma coleçao de dados
print("Valor máximo da minha lista = ", max([1, 2, 6, 9]))

Valor máximo da minha lista =  9

## Bibliotecas

In [23]:
# Como importar funções de uma biblioteca
#from math import *
import math

print("Raiz quadrada de 4 = ", math.sqrt(4))

Raiz quadrada de 4 =  2.0

In [25]:
# Importação de algumas funções
from math import pow, factorial

print("2 ** 10 = ", pow(2, 10))
print(" 3! = ", factorial(3))

2 ** 10 =  1024.0
 3! =  6

# Mensagens de erro

In [ ]:
# Erro de sintaxe
print('Exemplo erro de sintaxe)

SyntaxError: ignored

In [ ]:
# Erro divisão por zero
print(10 / (2%2))

ZeroDivisionError: ignored

In [ ]:
# Erro de tipo de dado
a = '10'
b = 10

soma = a + b

TypeError: ignored

In [ ]:
# Erro de indentação
def soma(a, b):
return a + b

IndentationError: ignored

In [ ]:
# Erro de nome/definição
print('Olá ', pessoa)

NameError: ignored

# Exercícios

## Exercício 1

Faça uma função que recebe um número e verifica se o valor é positivo, negativo ou zero. A função deve retornar 1 para valores positivos, -1 para negativos e 'Nulo' para valor 0.

In [ ]:
# Escreva sua solução aqui.

### Solução

In [17]:
def classificaNum(n):
  """ Classifica o número em positivo, negativo ou zero """
  if n > 0:
    return 1
  elif n < 0:
    return -1
  else:
    return 'Nulo'

classificacao = classificaNum(-7)
print("Retorno = ", classificacao)

Retorno =  -1

## Exercício 2
Escreva	uma	função	que	calcule e	retorne a	distância	entre	dois pontos (x1, y1) e (x2, y2). As coordenadas de um ponto devem ser armazenadas em uma tupla.

In [ ]:
# Escreva sua solução aqui.

### Solução

In [19]:
from math import sqrt
def distancia(ponto1, ponto2):
  # Coordenadas
  x1 = ponto1[0]
  y1 = ponto1[1]

  x2 = ponto2[0]
  y2 = ponto2[1]

  # Calculo da distância
  dist = sqrt((x2 - x1)**2 + (y2 - y1)**2)

  return dist

# Definindo um ponto
ponto1 = (2, 0)
ponto2 = (2, -3)

print(f"A distância entre os pontos {ponto1} e {ponto2} é igual a {distancia(ponto1, ponto2)}")

A distância entre os pontos (2, 0) e (2, -3) é igual a 3.0

## Exercício 3
A padaria Sópão vende diariamente uma certa quantidade de pães franceses e uma quantidade de broas. Cada pãozinho custa 0,80 e a broa custa 2,50. Do total arrecadado, 43% corresponde aos custos de fabricação, 15% Seu João guarda numa conta de poupança e 15% ele converte em Euros para sua viagem Anual. Sabe-se que 1 Euro custa R$ 6.00. Com base nestes fatos, faça uma função que recebe as quantidades de pães e de broas, e retorna a venda total de cada produto, o custo de fabricação, quanto irá guardar na poupança e quantos euros irá comprar.

In [ ]:
# Escreva sua solução aqui.

### Solução

In [29]:
def padariaSopao(n_pao, n_broa):
  # Cálculo da venda total
  total_paes = n_pao*0.8 
  total_broa = n_broa*2.5
  total_vendido = total_paes + total_broa

  # Custo de frabricação
  custo_fabr = total_vendido*0.43

  # Valor a ser guardado na poupança
  poupanca = total_vendido*0.15

  # Quantidade de euros
  euros = total_vendido*0.15 / 6.0

  return total_paes, total_broa, custo_fabr, poupanca, euros


paes, broas, custo, poupanca, euros = padariaSopao(100, 10)
print("Venda total de pães = R$", paes)
print("Venda total de broas = R$", broas)
print("Custo total = R$", custo)
print("Quantia poupança = R$", poupanca)
print("Total de euros = R$", euros)

Venda total de pães = R$ 80.0
Venda total de broas = R$ 25.0
Custo total = R$ 45.15
Quantia poupança = R$ 15.75
Total de euros = R$ 2.625

## Exercício 4
Identifique os erros e corrija.

In [ ]:
# Erro 1
def subtracao(num1, num2):
  return num2 - num1

num1 = 1
print(subtracao(num1, num2))

NameError: ignored

In [ ]:
# Erro 2
temperatura = 100

if temperatura > 220:
  print('Alta temperatura')
else if temperatura > 100:
  print('Temperatura média')
else:
  print('Temperatura baixa')

SyntaxError: ignored

### Solução

In [26]:
# Erro 1
def subtracao(num1, num2):
  return num2 - num1

num1 = 1
num2 = 2 # Declaração de num2
print(subtracao(num1, num2))

1

In [27]:
# Erro 2
temperatura = 100

if temperatura > 220:
  print('Alta temperatura')
# elif ao invés de else if
elif temperatura > 100:  
  print('Temperatura média')
else:
  print('Temperatura baixa')

Temperatura baixa